@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.filterResult{
    display: none;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    background-color: #fff;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;

    @include breakpoint-down(lg) {
        margin: 0 30px;
    }

    &--visible {
        display: flex;
        animation-name: filterResultToggle;
        animation-duration: 0.2s;
        animation-direction: normal;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba($color-neutral-300, 0.3);
        position: relative;
        z-index: 0;
        transition: all 0.2s ease-in-out;

        &:before {
            content: "";
            height: 0;
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.7;

            &:before{
                content: "";
                position: absolute;
                left: -20px;
                margin: auto;
                width: 4px;
                height: 60px;
                background-color: $color-accent;
            }
        }

        &:last-child {
            border: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &__image {
        width: 60px;
        height: 60px;
        border-radius: 2px;
        object-fit: cover;
        margin-right: 20px;
    }

    &__col {
        margin-right: 20px;
        padding-right: 20px;
        min-width: 100px;
        max-width: 200px;
        overflow: hidden;

        &:first-of-type {
            min-width: 200px;
        }

        @include breakpoint-down(md) {
            &:nth-last-child(1){
                display: none;
            }
        }

        @include breakpoint-down(sm) {
            &:nth-last-child(2){
                display: none;
            }
        }

        @include breakpoint-down(xs) {
            &:nth-last-child(3){
                display: none;
            }
        }
    }

    &__title {
        width: 100%;
        font-weight: 600;
        color: $color-text-primary;
        margin: 4px 0;
        font-family: poppins, sans-serif;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__value {
        color: $color-text-secondary;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@keyframes filterResultToggle {
    from {
        top: 60px;
        opacity: 0;
    }
    to {
        top: 70px;
        opacity: 1;
    }
}