@import "../../assets/styles/utils/mixins.scss";

.header {
  position: relative;
  height: 800px;
  overflow: hidden;
  background-image: url("../../assets/slider.jpg");
  background-position: center;
  background-size: cover;
  @include breakpoint-down(md) {
    height: 650px;
  }
}
