@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.header {
  margin-bottom: 35px;
  position: relative;
  height: 800px;
  z-index: 1;

  @include breakpoint-down(md) {
    height: 500px;
  }

  .filterSearch {
    position: absolute;
    bottom: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include breakpoint-down(md) {
      bottom: 30%;
    }
  }
}
