@import "./assets/styles/base/reset";
@import "./assets/styles/base/bootstrap";
@import "./assets/styles/utils/variables";
@import "./assets/styles/utils/mixins";

html {
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

button {
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
}

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins, sans-serif;
  font-style: normal;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
}
