@import "../../assets/styles/utils/variables";
@import "../../assets/styles/utils/mixins";

.map {
  position: relative;
  min-height: 250px;
  height: 100%;
  width: 100%;

  @include breakpoint-down(md) {
    margin-top: 80px;
  }

  &__canvas {
    height: calc(100% + 105px);
    width: calc(100% + 75px);
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    @include breakpoint-down(md) {
      width: 100% !important;
    }
  }

  &__info {
    position: absolute;
    bottom: -10px;
    left: 30px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba($color-accent, 0.75);
    color: #fff;
    max-width: 380px;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: $font-200;
    margin-bottom: 15px;
    opacity: 0.7;
  }

  &__address {
    font-weight: 700;
    font-size: $font-400;
  }
}
